<!doctype html>
<html>

<head>

  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, user-scalable=no, minimal-ui'>

  <title>{{ .basics.name }}</title>

  <style>
    body {
      background: #EEEEEE;
      font: 12px "Times New Roman", Times, sans-serif;
      line-height: 1.4;
      margin: 40px 0;
    }

    em {
      color: #999;
    }

    p {
      line-height: 1.4;
    }

    ul {
      margin-bottom: 0;
    }

    li {
      margin-bottom: 2px;
    }

    a {
      text-decoration: none;
    }

    #resume {
      margin: 0 auto;
      max-width: 600px;
      padding: 80px 100px;
      background: #fff;
      border: 1px solid #ccc;
      box-shadow: 2px 2px 4px #aaa;
      -webkit-box-shadow: 2px 2px 4px #aaa;
    }

    .coursesList {
      width: 28%;
      vertical-align: top;
      display: inline-block;
    }

    .largeFont {
      font-size: 20px;
    }

    .smallFont {
      font-size: 12px;
    }

    .sectionBlock {
      display: flex;
      width: 100%;
    }

    .sectionName {
      width: 18%;
      vertical-align: top;
      display: inline-block;
    }

    .sectionContent {
      width: 80%;
      vertical-align: top;
      display: inline-block;
    }

    .sectionContent ul {
      padding-left: 20px;
      margin-top: 6px;
      list-style-type: circle;
    }

    .sectionContent .title {
      font-weight: bold;
    }

    .sectionContent .date {
      float: right;
    }

    .sectionContent .separator {
      height: 14px;
    }

    .sectionLine {
      border-style: dashed;
      border-width: 1px;
      border-color: #CFCFCF;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .divider {
      font-weight: bold;
      margin-left: 5px;
      margin-right: 5px;
    }

    .summary {
      margin-top: 6px;
    }

    .skillBlock {
      margin-bottom: 4px;
    }

    .jobBlock {
      page-break-inside: avoid;
    }

    /* Media Queries */
    @media only screen and (max-width: 40em) {
      body {
        margin: 0;
        font-size: 14px;
      }

      #resume {
        margin: 0 auto;
        max-width: 600px;
        padding: 0.5em 1em;
        border: none;
      }

      .sectionContent {
        width: 100%;
      }

      .sectionContent .date {
        padding-right: 2em;
      }

      .sectionName {
        width: auto;
      }

      .largeFont {
        font-size: 20px;
      }

      .smallFont {
        font-size: 14px;
      }
    }

    @media print {
      #resume {
        margin: 0 auto;
        max-width: 600px;
        padding: 0px 0px;
        border: 0px;
        background: #fff;
        box-shadow: none;
        -webkit-box-shadow: none;
      }

      a {
        color: black;
      }
    }
  </style>

</head>

<body>

  <div id='resume'>
    <div id='nameBlock' class='largeFont'>
      <span class='name'>
        {{ .basics.name }}
      </span>
    </div>
    <div id='basicsBlock' class='smallFont'>
      <div class='contactBlock'>
        <span class='email'>{{ .basics.email }}</span>
        <span class='divider'>|</span>
        <span class='address'>
          {{ .basics.location.city }}, {{ .basics.location.region }}, {{ .basics.location.countryCode }}
        </span>
      </div>
      <div id='profilesBlock'>
        {{ range $i, $p := .basics.profiles }}
        {{ if $i }}<span class='divider'>|</span>{{ end }}
        <span class='url'>
          <a href='{{ $p.url }}'>{{ $p.network }}</a>
        </span>
        {{ end }}
      </div>
    </div>
    <div class='sectionLine'></div>


    <div id='workBlock' class="sectionBlock">
      <div class='sectionName'>
        <span>EXPERIENCE</span>
      </div>
      <div class='sectionContent'>
        {{ range $i, $w := .work }}
        {{ if $i }}<div class='separator'></div>{{ end }}
        <div class="jobBlock">
          <div class='blockHeader'>
            <span class='title'>
              {{ $w.company }}, {{ $w.position }}
            </span>
            <span class='date'>
              {{ $w.startDate }} &mdash; {{ $w.endDate }}
            </span>
          </div>
          <div><a href=''></a></div>
          <ul class='highlights'>
            {{ range $w.highlights }}
            <li> {{ . }}</li>
            {{ end }}
          </ul>
        </div>
        {{ end }}
      </div>
    </div>
    <div class='sectionLine'></div>




    <div id='education' class="sectionBlock">
      <div class='sectionName'>
        <span>EDUCATION</span>
      </div>
      <div class='sectionContent'>
        {{ range .education }}
        <div class='educationBlock'>
          <span class='title'>
            {{ .institution }}
          </span>
          <span class='date'>
            {{ .startDate }} &mdash; {{ .endDate }}
          </span>
          <div class=''>
            {{ .studyType }} - {{ .area }}, GPA: {{ .gpa }}
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    <div class='sectionLine'></div>

    <div id='skills' class="sectionBlock">
      <div class='sectionName'>
        <span>SKILLS</span>
      </div>
      <div class='sectionContent'>
        {{ range .skills }}
        <div class='skillBlock'>
          <span class='title'>{{ .name }}:</span>
          {{ range $i, $k := .keywords -}}
          {{- if $i}}, {{ end }}<span>{{ $k }}</span>
          {{- end }}
        </div>
        {{ end }}
      </div>
    </div>
</body>

</html>